{{#> FormContainer className="profile__container" }}
    <div class="profile__avatar">
        {{{ Avatar avatar=avatar }}}
    </div>
    <div class="profile__part">
        {{{ InlineTextEditable label="Почта" isEdit=true name="email" type="email" value=email ref="email" validate=validate.email }}}
        {{{ InlineTextEditable label="Логин" isEdit=true name="login" type="text" value=login ref="login" validate=validate.login }}}
        {{{ InlineTextEditable label="Имя" isEdit=true name="first_name" type="text" value=firstName ref="firstName" validate=validate.firstName }}}
        {{{ InlineTextEditable label="Фамилия" isEdit=true name="second_name" type="text" value=secondName ref="secondName" validate=validate.secondName }}}
        {{{ InlineTextEditable label="Никнейм" isEdit=true name="display_name" type="text" value=displayName ref="displayName" validate=validate.displayName }}}
        {{{ InlineTextEditable label="Телефон" isEdit=true name="phone" type="phone" value=phone ref="phone" validate=validate.phone }}}
    </div>
    <div class="profile__part profile__buttons-standart-container">
        {{{ Button text="Сохранить" type="prymary" goToPage="profile" className="profile__buttons-standart-container_btn-sized" onClick=onSave }}}
    </div>
    {{{ ValidationMessage validationMessage=error ref="validationMessage" }}}
{{/FormContainer}}
