<div class="fullscreen-page">
    {{{ StreachButtonLeft onClick=returnToChats }}}
    <div class="profile">
        <div class="profile__container">
            <div class="profile__avatar">
                {{{ Avatar }}}
                {{{ Title text="Иван" type="bold" }}}
            </div>
            <div class="profile__part">
                {{{ InlineTextEditable label="Почта" isEdit=false name="email" type="email" value="iiivanov@yandex.ru" }}}
                {{{ InlineTextEditable label="Логин" isEdit=false name="login" type="text" value="iiivanov" }}}
                {{{ InlineTextEditable label="Имя" isEdit=false name="firstname" type="text" value="Иван" }}}
                {{{ InlineTextEditable label="Отчество" isEdit=false name="midlename" type="text" value="Иванович" }}}
                {{{ InlineTextEditable label="Фамилия" isEdit=false name="lastname" type="text" value="Иванов" }}}
                {{{ InlineTextEditable label="Никнейм" isEdit=false name="nikname" type="text" value="Иван" }}}
                {{{ InlineTextEditable label="Телефон" isEdit=false name="phone" type="phone" value="88005353535" }}}
            </div>
            <div class="profile__part">
                {{{ InlineButton text="Изменить данные" type="secondary" onClick=openChangeDataPage }}}
                {{{ InlineButton text="Изменить пароль" type="secondary" onClick=openChangePasswordPage }}}
                {{{ InlineButton text="Выйти" type="important" onClick=logOut }}}
            </div>
        </div>
    </div>
</div>
