<div class="chat-item {{#if selected}}chat-item_selected{{/if}}">
    <div class="chat-item__image" 
        {{#if avatar}}
            style="background-image: url({{avatar}}); background-size: cover;"
        {{/if}}
    ></div>
    <div class="chat-item__info">
        <div class="chat-item__title">{{title}}</div>
        <span class="chat-item__short-feed">
            {{#if lastMessage}}
                <span class="chat-item__short-feed-who">{{lastMessage.user.displayName}}:</span>
                {{lastMessage.content}}
            {{/if}}
        </span>
    </div>
    <div class="chat-item__metrics">
        {{#if lastMessage}}
            <span class="chat-item__time">{{lastMessage.time}}</span>
        {{/if}}
        {{#if unreadCount}}
            <div class="chat-item__counter">{{unreadCount}}</div>
        {{/if}}
    </div>
</div>
