<div class="fullscreen-page chats-page">
    <div class="chats-page__chats">
        <div class="chats-page__chats-header">
            <div class="chats-page__to-profile-container">
                {{{ GoToButton text="Профиль" onClick=openProfile }}}
            </div>
            {{{ Button text="Добавить чат" type="prymary" onClick=addChat }}}
            <div>
                {{{ AddChatDialog }}}
            </div>
        </div>
        <div class="chats-page__chats-list">
            {{#each chatsList}}
                {{{ ChatItem title=this.title 
                        avatar=this.avatar 
                        createdBy=this.createdBy
                        id=this.id
                        lastMessage=this.lastMessage
                        unreadCount=this.unreadCount
                }}}
            {{/each}}
        </div>
    </div>
    <div class="chats-page__feed">
        {{{ FeedHeader title=selectedChat }}}
        {{{ FeedBody messagesList=selectedChatMessagesList }}}
        {{{ FeedFooter }}}
    </div>
</div>
