<div class="fullscreen-page chats-page">
    {{{ ChatMenuDialog }}}
    {{{ AddUserDialog }}}
    {{{ DeleteUserDialog }}}
    {{{ AddChatDialog }}}
    {{{ FloatMessageDialog }}}
    <div class="chats-page__chats">
        <div class="chats-page__chats-header">
            <div class="chats-page__to-profile-container">
                {{{ GoToButton text="Профиль" onClick=openProfile }}}
            </div>
            {{{ Button text="Добавить чат" type="prymary" onClick=addChat }}}
        </div>
        {{{ ChatsList }}}
    </div>
    {{{ Feed }}}
</div>
