<div class="fullscreen-page chats-page">
    <div class="chats-page__chats">
        <div class="chats-page__chats-header">
            <div class="chats-page__to-profile-container">
                {{{ GoToButton text="Профиль" onClick=openProfile }}}
            </div>
            {{{ Button text="Добавить чат" type="prymary" onClick=addChat }}}
            <div>
                {{{ AddChatDialog }}}
            </div>
        </div>
        {{{ ChatsList }}}
    </div>
    {{{ Feed }}}
</div>
