<div class="form-wrapper">
    {{#> FormContainer className="form-content" }}
        {{{ Title text="Регистрация" }}}
        <div class="form-content__form-block form-content__fields">
            {{{ TextField label="Почта" type="email" placeholder="Почта" name="email" ref="email" validate=validate.email }}}
            {{{ TextField label="Логин" type="text" placeholder="Логин" name="login" ref="login" validate=validate.login }}}
            {{{ TextField label="Фамилия" type="text" placeholder="Фамилия" name="second_name" ref="secondName" validate=validate.secondName }}}
            {{{ TextField label="Имя" type="text" placeholder="Имя" name="first_name" ref="firstName" validate=validate.firstName }}}
            {{{ TextField label="Телефон" type="tel" placeholder="Телефон" name="phone" ref="phone" validate=validate.phone }}}
            {{{ TextField label="Пароль" type="password" placeholder="Пароль" name="password" ref="password" validate=validate.password }}}
            {{{ TextField label="Повторить пароль" type="password" placeholder="Повторить пароль" name="repeate_password" ref="repeatePassword" validate=validate.repeatePassword }}}
        </div>
        <div class="form-content__form-block form-content__actions">
            {{{ Button text="Зарегистрироваться" type="prymary" goToPage="chats" onClick=onRegister }}}
            {{{ Button text="Войти" type="secondary" goToPage="login" onClick=onLogin }}}
        </div>
        {{{ ValidationMessage validationMessage=error ref="validationMessage" }}}
    {{/FormContainer}}
</div>
